@import "./console.css";
@import "./tabs.css";
@import "./popup.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
}

.flex-child {
  padding: 0 20px;
}

table,
tr,
th,
td {
  border: 1px solid #000;
}

thead th {
  background-color: lightgrey;
}

table {
  border-collapse: collapse;
}